  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  code {
    font-size: 1.2em;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  table{
    --mdb-table-bg:white !important;
  }

  td{
    padding:0 !important;
    text-align: center !important;
  }
  
  th{
    text-align: center !important;
    
  }
  
  ul {
    padding-inline-start: 20px;
  }

  

  .app-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;

  }

  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }

  .board-row{
    border-radius:10px;
  }
  
  .btn{
    width:20rem;
    height:2.5rem;
  }
  
  .card{
    background-color: rgba(255, 255, 255, 0.1); 
  }
  .card-body{
    display:flex;
    justify-content: center;
    align-items: center;
    width:20rem;
    height:20rem;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.2); 
    position: relative;
  }
  .card-footer, .card-header{
    display:flex;
    justify-content: center;
  }
  .card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0.7;
  }
  .card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
  }

  .current-move-col{
    display:flex;
    height:3rem;
    justify-content: center;
    align-items: center;
  }

  .history-table{
    max-width:20rem;
    min-width:5rem;
  }

  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-container{
    padding: 20px;
    z-index: 5;
  }

  .game-history-th{
    cursor:pointer;
  }

  .game-info {
    margin-left: 20px;
  }

  .table-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
  }

  .square {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
    height:70px;

  }  

  .status {
    margin-bottom: 10px;
    color:black;
  }